body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header appears above other content */
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 120px; /* Adjust based on header height */
    left: 0;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.under-header {
    padding: 69px;
    max-width: 800px; /* Limit the width of the centered content */
}
.under-footer {
    padding: 20px;
    max-width: 800px; /* Limit the width of the centered content */
}
section {
    padding: 20px;
    text-align: center; /* Center the content */
    margin: auto; /* Center horizontally */
    max-width: 800px; /* Limit the width of the centered content */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}










/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #444;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.dot-list {
    list-style-type: circle; /* Change bullet point style */
    margin-left: 1px; /* Adjust margin to position the list to the left */
}

.dot-list li {
    text-align: left; /* Align text within list items to the left */
}
